/*
Author(s): Steven van den Broek, Anton Vellikok
Created: 2019-05-18
Edited: 2019-06-04
*/

/*############################################
  ##########  Page 1: Select theme  ##########
  ############################################*/

  #choose-theme {
    display: block;
}

/*############################################
  #######  Page 2: Select cluster type  ######
  ############################################*/

  #choose-POI-clusters {
    display: none;
}

/*############################################
  ####  Page 3: filter the edge weights  #####
  ############################################*/

  #filter-edge-weight {
    display: none;
}

/*############################################
  #### Page 4: filter the node in-degrees ####
  ############################################*/

#filter-node-in-degree {
    display: none;
}

/*############################################
  ### Page 5: filter the node out-degrees ####
  ############################################*/

#filter-node-out-degree {
    display: none;
}

/*############################################
  ##############  Help Section  ##############
  ############################################*/

#help-page-1 {
    display: none;
}

#help-page-2 {
    display: none;
}

#help-page-3 {
    display: none;
}

#help-page-4 {
    display: none;
}

#help-page-5 {
    display: none;
}

#help-page-6 {
    display: none;
}