/*######################
        ALL
######################*/
html {
    scroll-behavior: smooth;
}

/*######################
        FONTS
######################*/
@font-face {
    font-family: Kiona;
    src: url(Kiona-Regular.ttf);
}

@font-face {
    font-family: Caviar;
    src: url(CaviarDreams.ttf);
}

/*######################
        AID TOOLS
######################*/
.space-container {
    height: 7vh;
}

/*######################
        HEADER
######################*/
.header {
	background-color: white;
	height: 7vh;
    width: 100%;
    display: inline-block;
    position: fixed;
    margin: 0 auto;
    z-index: 3;
}

.header-85-percent {
	width: 85%;
	height: 100%;
	display: inline-block;
    margin: 0 auto;
}

.logo-container {
	height: 100%;
    float: left;
}

.logo-container img {
	height: 5vh;
    margin-left: 10vw;
    margin-top: 1vh;
}

.logo-text-container {
	height: 100%;
    float: left;
    display: block;
    margin-left: 10px;
    margin-top: 10px;
}

.logo-text {
	color: #5D5C60;
    font-family: Roboto;
    letter-spacing: 3px;
    font-size: 25px;

}

#logo-text-bold {
	font-weight: bold;
}

.header-buttons-container {
	height: 100%;
	float: right;
}

.header-button {
	color: black;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 0px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
    border: 3px solid white;
	color: #5D5C60;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    transition: 0.6s;
}

#launch-btn-header {
    color: black;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 0px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
    border: 3px solid black;
	color: #5D5C60;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
}

#launch-btn-header:hover {
    border: 3px solid white;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

.header-button:hover {
	border: 3px solid white;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

/*######################
        MAIN PAGE
######################*/
#main-page {
    /*
    * INSERT MAIN BACKGROUND IMAGE HERE
    *
    * background-image: url(home-background.jpg);
    * background-size: cover;
    * background-position: center;
    */
    height: 100vh;
}

.central-container {
    height: 100vh;
    color: white;
    display: block;
}

.black-box {
    margin: 0 auto;
    height: 57vh;
    width: 85vw;
    text-align: center;
    color: white;
    display: block;
}

.black-box-text {
    font-weight: normal;
    display: block;
    color: #5D5C60;
}

.bb-n025 {
    font-size: 20px;
    margin-top: 30vh;
    margin-bottom: 3vh;
    display: inline-block;
    letter-spacing: 5px;
    font-family: Roboto;
}

.bb-graphion {
    font-size: 6vw;
    letter-spacing: 3vw;
    font-family: Roboto;
    text-align: center;
}

.bb-your {
    font-size: 12px;
    letter-spacing: 10px;
    font-family: Roboto;
}

.control-menu {
    font-family: Roboto;
    letter-spacing: 5px;
}

@media (max-width: 767px) {
    #cross-image {
       display: none;
    }
 }

 @media (min-width: 767px) {
    #ctrl-menu-break {
       display: none;
    }
 }

#launch-btn {
    color: #3189FF;
	height: 40px;
	margin-top: 5vh;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 0px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 14px;
    font-family: Roboto;
    font-weight: bold;
    border: 0px solid white;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    transition: 0.6s;
}

#launch-btn:hover {
    border: 3px solid white;
	color: white;
	background-color: rgba(0, 0, 0, 0.8);
}

#report-btn {
    margin-top: 3vh;
    display: inline-block;
}

#team-btn {
    margin-right: 3vh;
    display: inline-block;
}

#video-btn {
    margin-left: 3vh;
    display: inline-block;
}

#cross-image {
    height: 50px;
    vertical-align: middle;
}

.launch-graphion-button {
    color: black;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border: 3px solid #FD5050;
	border-radius: 0px;
	background-color:  rgba(0, 0, 0, 0.8);
	cursor: pointer;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	font-size: 12px;
	color: white;
}

.launch-graphion-button:hover {
	border: 3px solid black;
	color: black;
	background-color: rgba(0, 0, 0, 0);
}

/*######################
        TEAM PAGE
######################*/
#meet-the-team {
    height: 93vh;
    margin-left: 5vw;
    margin-right: 5vw;
}


#team-text {
    text-align: left;
    margin-top: 5vh;
    font-size: 65px;
    letter-spacing: 15px;
    font-family: Roboto;
    color: #5D5C60;
    line-height: 75px;
}

.row {
    text-align: center;
    display: inline-block;
}

.photo-and-name {
    width: calc(100% / 4);
    overflow: hidden;
    float: left;
    height: auto;
    transition: 0.6s;
}

.photo-and-name h1 {
    font-family: Roboto;
    font-size: 18px;
}

.photo-and-name p {
    font-family: Roboto;
    font-size: 15px;
    color: #5D5C60;
    margin-bottom: 20px;
}

.photo-and-name:hover {
    background-color: rgb(156, 156, 156);
}

/*######################
        REPORT PAGE
######################*/
#report {
    font-weight: bold;
    font-size: 75px;
    text-align: left;
    color: white;
    height: 100vh;
    line-height: 25px;
}

#report-text {
    margin-top: 5vh;
    margin-left: 5vw;
    font-size: 65px;
    letter-spacing: 15px;
    font-family: Roboto;
    color: #5D5C60;
    line-height: 75px;
}

#report-abstract {
    font-size: 12px;
    font-weight: normal;
    font-family: Roboto;
    margin-left: 5vw;
    color: #5D5C60;
}

#report-left-side {
    width: 50%;
    float: left;
}

.download-report-button {
    color: black;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 0px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
    border: 3px solid black;
	color: #5D5C60;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    transition: 1s;
}

.download-report-button:hover {
    border: 3px solid white;
	color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#report-right-side {
    width: 50%;
    float: right;
}

#report-img {
    margin-top: 5vh;
    vertical-align: middle;
    width: 30vw;
    margin-left: 10vw;
}

/*######################
        VIDEO PAGE
######################*/


#video {
    font-weight: bold;
    font-size: 75px;
    text-align: left;
    color: white;
    height: 93vh;
    display: none;
}

#play-button {
    display: block;
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-bottom: calc(46.5vh - 20px);
    margin-top: calc(46.5vh - 20px);
    transition: 1s;
}

#close-video-button {
    display: none;
    position: absolute;
    text-align: center;
    margin-left: 85vw;
    margin-top: 85vh;
    transition: 1s;
    z-index: 2;
    color: black;
	height: 40px;
	border-radius: 0px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 12px;
    font-family: Roboto;
    font-weight: bold;
    border: 3px solid #FD5050;
	color: white;
    background-color: #FD5050;
    letter-spacing: 2px;
    transition: 1s;
}

#close-video-button:hover {
    border: 3px solid rgba(0, 0, 0, 0.8);
	color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#iframe {
    width: 98.9vw;
    height: 93vh;
    z-index: 1;
    position: relative;
}