/**
 * Author(s): Tom Udding, Anton Vellikok
 * Created: 2019-04-29
 * Edited: 2019-06-11
 */

/*######################
  ########  ALL  #######
  ######################*/
  * {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 100;
}

html {
    background-color: rgb(255, 255, 255);
    height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

body {
    font-size: 1em;
    font-weight: 100;
    line-height: 1.75;
}

a, a:visited, a:hover, a:focus {
    text-decoration: none;
}

/*######################
  ####  HELP TOOLS  ####
  ######################*/
.space-container {
    height: 7vh;
}

/*######################
  ####  MAIN PAGE  #####
  ######################*/
#main-page {
    background-image: url(/static/images/first.png);
    background-size: cover;
    background-position: bottom;
    height: 93vh;
}

.central-container {
    height: 100vh;
    color: white;
    display: block;
}

.black-box {
    margin: 0 auto;
    height: 57vh;
    width: 85vw;
    text-align: center;
    color: white;
    display: block;
}

.black-box-text {
    font-weight: normal;
    display: block;
    color: #5D5C60;
}

.bb-n025 {
    font-size: 1.25rem;
    margin-top: 23vh;
    display: inline-block;
    letter-spacing: 5px;
}

.bb-graphion {
    font-size: 6vw;
    letter-spacing: 3vw;
    font-weight: lighter;
    margin-right: -3vw;
}

.bb-your {
    font-size: 0.75rem;
    letter-spacing: 0.625rem;
    margin-right: -0.625rem;
}

.control-menu {
    letter-spacing: 5px;
}

/* Copied from header.css (which uses Grid.CSS) */
.ctlr-menu-button,
.ctrl-menu-launch-button {
    display: inline-block;
    padding: 0.125rem 0.75rem;
    font-weight: 400;
    letter-spacing: 0.125rem;
    border: 0.1875rem solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
}

.ctrl-menu-button {
    color: rgb(85, 85, 85) !important;
}

/*
.ctrl-menu-launch-button {
    color: rgb(49, 137, 255) !important;
}
*/

.ctlr-menu-button:hover {
    border: 0.1875rem solid rgb(51, 51, 51);
	color: rgb(255, 255, 255);
	background-color: rgb(51, 51, 51);
}

.ctrl-menu-launch-button:hover {
    border: 0.1875rem solid rgb(49, 137, 255);
	color: rgb(255, 255, 255);
	background-color: rgb(49, 137, 255);
}

.ctrl-menu-cross {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    width: 6rem;
    height: 6rem;
}

.ctrl-menu-cross::after {
    content: '';
    height: 6rem;
    border-left: 0.25rem solid rgb(51, 51, 51);
    position: absolute;
    transform: rotate(45deg);
    left: 2.75rem;
}

.ctrl-menu-cross::before {
    content: '';
    height: 6rem;
    border-left: 0.25rem solid rgb(51, 51, 51);
    position: absolute;
    transform: rotate(-45deg);
    left: 2.75rem;
}

#menu-cross-break {
    display: none;
}

@media only screen and (max-width: 768px) {
    .ctrl-menu-cross {
        display: none;
    }

    #menu-cross-break {
        display: block;
    }
}

/*######################
  #####  TEAM PAGE  ####
  ######################*/
#meet-the-team {
    height: 700px;
}

#team-text {
    text-align: left;
    margin: 0 auto;
    margin-left: 5vw;
    font-size: 4.0625rem;
    letter-spacing: 15px;
    color: black;
    line-height: 75px;
}

.row {
    text-align: center;
    display: block;
    margin-left: 5vw;
    margin-right: 5vw;
}

.photo-and-name {
    width: calc(100% / 4);
    overflow: hidden;
    float: left;
    height: auto;
    transition: 0.6s;
}

.photo-and-name h1 {
    font-size: 1.125rem;
}

.photo-and-name p {
    font-size: 0.9375rem;
    color: #5D5C60;
    margin-bottom: 10px;
}

.photo-and-name:hover {
    background-color: rgb(156, 156, 156);
}

.photo-and-name img {
    height: 230px;
    width: 230px;
    margin-top: 10px;
}

@media (max-width: 1300px) {
    .photo-and-name {
        width: calc(100% / 3);
    }  #meet-the-team {
        height: 900px;
    }  .photo-and-name img {
        width: 190px;
        height: 190px;
    }
}

@media (max-width: 950px) {
    .photo-and-name {
        width: calc(100% / 2);
    }  #meet-the-team {
        height: 1250px;
    }
}

@media (max-width: 600px) {
    .photo-and-name {
        width: calc(100% / 1);
    }  #meet-the-team {
        height: 2150px;
    }
}



/*######################
 ####  VIDEO PAGE  ####
 ######################*/
#video-page {
    height: 93vh;
    background-image: url(/static/images/second.png);
    background-size: cover;
    background-position: top;
}


#video {
    font-weight: bold;
    font-size: 4.6875rem;
    text-align: left;
    color: white;
    height: 93vh;
    display: none;
}

#play-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    transition: 1s;
}

#space-container-around-video-button {
    height: calc(46.5vh - 20px);
}

#close-video-button {
    display: none;
    position: absolute;
    text-align: center;
    margin-left: 1vw;
    margin-top: 87vh;
    transition: 1s;
    z-index: 2;
    color: black;
	height: 40px;
	cursor: pointer;
	padding: 5px 10px;
    font-size: 0.75rem;
    font-weight: bold;
    border: 0.1875rem solid #FD5050;
	color: white;
    background-color: #FD5050;
    letter-spacing: 2px;
    transition: 1s;
}

#close-video-button:hover {
    border: 0.1875rem solid white;
	color: white;
    background-color: rgba(0, 0, 0, 0.9);
}

#iframe {
    width: 98.9vw;
    height: 93vh;
    z-index: 1;
    position: relative;
}

/*######################
  ###  REPORT PAGE  ####
  ######################*/
#report {
    margin-left: 5vw;
    font-size: 4.6875rem;
    text-align: left;
    color: white;
    height: 100vh;
    line-height: 25px;
    position: relative;
    clear: both;
}

#report-text {
    text-align: left;
    margin-top: 5vh;
    font-size: 4.0625rem;
    letter-spacing: 15px;
    color: black;
    line-height: 75px;
}

#report-abstract-title {
    font-size: 1.25rem;
    letter-spacing: 5px;
    color: rgb(67, 66, 68);
    font-weight: bold;
    margin-top: 5vh;
}

#report-abstract {
    font-size: 0.75rem;
    font-weight: normal;
    color: #5D5C60;
    text-align: justify;
}

#report-abstract:after {
    content: "";
    display: inline-block;
    width: 100%;
}

#report-left-side {
    width: calc(100vw - (500px + 20vw));
    float: left;
}

.download-report-button-div {
	margin-top: 2vh;
}

.download-report-button {
    color: black;
	height: 40px;
	margin-bottom: 10px;
	margin-right: 10px;
	border-radius: 0px;
	cursor: pointer;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
    font-size: 0.75rem;
    font-weight: bold;
    border: 0.1875rem solid black;
	color: #5D5C60;
    background-color: rgba(0, 0, 0, 0);
    letter-spacing: 2px;
    transition: 1s;
}

.download-report-button:hover {
    border: 0.1875rem solid white;
	color: white;
    background-color: rgb(51, 51, 51);
}

.report-right-side {
    width: calc(500px + 10vw);
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#report-img {
    margin: 0 auto;
    text-align: center;
    margin-top: 5vh;
    width: 500px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    border: 2px solid black;
}

@media (max-width: 1000px) {
    #report-img {
        display: none;
    }  #report-left-side {
        width: 100%;
    }  #report {
        margin-right: 5vw;
    }
}

/*######################
  ######  FOOTER  ######
  ######################*/
  #footer {
    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    font-weight: normal;
    color: #5D5C60;
    margin: 0 auto;
    text-align: center;
}
