/**
 * Author(s): Tim van de Klundert, Anton Vellikok
 * Created: 2019-05-27
 * Edited: 2019-06-20
**/

.bokeh-container {
    margin: 0 auto;
}

.icon-container {
    margin-left: 8.2vw;
    margin-top: 17.3vh;
}

.graphion-bold {
    font-weight: 400;
}

.left-bar-shown {
    background-color: #F7F7F7;
    position: absolute;
    z-index: 10;
    left: 0vw;
    top: 0vh;
    width: 337px;
    height: 100vh;
    border-right: 1px solid rgb(170,170,170);
}

.left-bar-small-links {
    position: absolute;
    left: 10.7px;
    top: 1vh;
    width: 77px;
    height: 3.5vh;
    font-size: 0.875rem;
    line-height: 1.125rem;
}

.left-bar-small-links a:hover {
    color: rgb(49, 137, 255);
}

.left-bar-small-links a {
   color: rgb(133, 133, 133);
   border-bottom: 0px;
   font-weight: 300;
}

.left-bar-graphion {
    position: absolute;
    left: 23px;
    top: 9vh;
    color: rgb(49, 137, 255);
    font-size: 1.75rem;
    line-height: 1.75rem;
    font-weight: 100;
    letter-spacing: 2px;
}

.left-bar-choose-vis {
    position: absolute;
    left: 23px;
    width: 277px;
    top: 13.6vh;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: white;
}

.left-bar-screen-big {
    position: absolute;
    color: rgb(133, 133, 133);
    font-size: 1.125rem;
    width: 92px;
    line-height: 1.125rem;
    left: 23px;
    font-weight: 100;
}

.left-bar-screen-small {
    position: absolute;
    color: rgb(133,133,133);
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.left-bar-screen-separator {
    position: absolute;
    background-color: rgb(133, 133, 133);
    height: 1px;
    left: 38px;
    top: 44vh;
    width: 245px;
}

.left-bar-hide-button {
    position: absolute;
    left: 307px;
    top: 48vh;
    width: 2vh;
    font-size: 2vh;
    line-height: 3vh;
    height: 3vh;
    color: white;
    cursor: pointer;
}

.left-bar-node-labels {
    position: absolute;
    color: white;
    left: 23px;
    font-size: 1rem;
    line-height: 1rem;
}

.left-bar-color-picker {
    position: absolute;
    left: 1.5vw;
    top: 81.5vh;
    width: 5.4vw;
    height: 10.4vh;
    cursor: pointer;
}

.left-bar-dark-mode-label {
    position: absolute;
    color: white;
    left: 23px;
    top: 94vh;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.left-bar-hidden {
    background-color: #F7F7F7;
    z-index: 10;
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 38px;
    height: 100vh;
    border-right: 1px solid rgb(170,170,170);
}

.left-bar-show-button {
   position: absolute;
   left:8px;
   top: 48vh;
   width: 2vh;
   height: 3vh;
   line-height: 3vh;
   color: white;
   cursor: pointer;
}

/* The dark mode switch is ripped from w3schools */
.dark-mode-switch {
   position: absolute;
   display: inline-block;
   left: 135px;;
   top: 93.5vh;
   width: calc(3.8vh + 26px);
   height: 3.7vh;
}

.dark-mode-switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }

 .slider:before {
   position: absolute;
   content: "";
   height: 2.8vh;
   width: 2.8vh;
   left: 0.5vh;
   bottom: 0.5vh;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }

 input:checked + .slider {
   background-color: rgb(49, 137, 255);
 }

 input:focus + .slider {
   box-shadow: 0 0 1px rgb(49, 137, 255);
 }

 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }

 .slider.round:before {
   border-radius: 50%;
 }

 /* End of ripped content */

.right-bar-shown {
    background-color: #F7F7F7;
    position: absolute;
    z-index: 10;
    right: 0vw;
    top: 0vh;
    width: 337px;
    height: 100vh;
    border-left: 1px solid rgb(170,170,170);
}

.right-bar-big {
    position: absolute;
    color: white;
    font-size: 1.125rem;
    line-height: 1.125rem;
}

.right-bar-small {
    position: absolute;
    color: rgb(133,133,133);
    left: 1.3vw;
    font-size: 0.75rem;
    line-height: 0.75rem;
}

.right-bar-hide-button {
    position: absolute;
    color: white;
    right: 307px;
    top: 48vh;
    font-size: 2vh;
    line-height: 3vh;
    height: 3vh;
    cursor: pointer;
}

.right-bar-info-block {
    position: absolute;
    left: 1vw;
    width: 290px;
    height: 32vh;
}

.right-bar-info-title {
    position: absolute;
    left: 1vw;
    top: 2vh;
    font-size: 1.125rem;
    line-height: 1.125rem;
    color: black;
}

.right-bar-info-text {
    position: absolute;
    left: 2vw;
    top: 5vh;
    width: 10vw;
    height: 30vh;
    font-size: 0.75rem;
    line-height: 0.75rem;
    color: rgb(133,133,133);
}

.right-bar-hidden {
   background-color: #F7F7F7;
   position: absolute;
   z-index: 10;
   right: 0;
   top: 0vh;
   width: 38px;
   height: 100vh;
   border-left: 1px solid rgb(170,170,170);
}

.right-bar-show-button {
   position: absolute;
   color: white;
   right: 8px;
   top: 48vh;
   height: 3vh;
   line-height: 3vh;
   cursor: pointer;
}

.node-table {
    top: 0px !important;
    left: 0px !important;
}

.edge-table {
    top: 0px !important;
    left: 0px !important;
}

.invisible {
    display: none !important;
}



.screen-1 {
    margin-right: 20px !important;
}

.screen-2 {
    margin-left: 20px !important;
}

.dropdown {
   position: absolute;
   color: rgb(133,133,133);
   height: 4vh;
   font-size: 0.625rem;
   background-image: url("../images/dropdown.png");
   background-position: right center;
   background-size: cover;
   border: 1px solid rgb(170,170,170);
}

.dropdown option {
    margin-left: -50px;
}

#after-loading .icon {
   position: absolute;
   cursor: pointer;
   width: 9.6vh;
   height: 9.6vh;
   border-style: solid;
   border-color: rgb(170,170,170);
   border-radius: 5px;
   border-width: 2px;
}

.icon-selected {
   position: absolute;
   width: 9.6vh;
   height: 9.6vh;
   border-style: solid;
   border-color: rgb(170,170,170);
   background-color: rgb(49, 137, 255);
   border-radius: 5px;
   border-left-width: 0.2vw;
   border-right-width: 0.2vw;
   border-top-width: 0.3vh;
   border-bottom-width: 0.3vh;
}

.empty-triangle {
    font-size: 1.875rem;
    transition: 0.4s;
}

.empty-triangle:hover {
    color: rgb(49, 137, 255);
    transition: 0.4s;
    font-size: 1.5rem;
}

#after-loading {
    background-color:#EAEAEA;
}

body{
    background-color: #EAEAEA;
}

.white-text {
    color: rgb(66,66,66);
}

/* Resizing of the screen

@media (max-width: 1300px) {
    .left-bar-shown {
        width: 25vw;
    }

    .right-bar-shown {
        width: 25vw;
    }
}

*/
