/**
 * Author(s): Tim van de Klundert, Anton Vellikok
 * Created: 2019-05-27
 * Edited: 2019-06-06
 */

 .icon-container {
    margin-left: 8.2vw; 
    margin-top: 17.3vh;
 }

 .graphion-bold {
    font-weight: 400;
 }

 .left-bar-shown {
    background-color: rgb(66,66,66);
    position: absolute;
    z-index: 10;
    left: 0vw;
    top: 0vh;
    width: 22vw;
    height: 100vh;
}

.left-bar-small-links {
    position: absolute;
    left: 0.7vw;
    top: 1vh;
    width: 5vw;
    height: 3.5vh;
    font-size: 0.9vw;
   line-height: 1.2vw;
}

.left-bar-small-links:hover {
    color: rgb(49, 137, 255);
}

.left-bar-small-links a {
   color: #9C9C9C;
   border-bottom: 0px;
}

.left-bar-graphion {
    position: absolute;
    left: 1.5vw;
    top: 9vh;
    color: rgb(49, 137, 255);
    font-size: 1.8vw;
    line-height: 1.8vw;
    font-weight: 100;
    letter-spacing: 2px;
}

.left-bar-choose-vis {
    position: absolute;
    left: 1.5vw;
    width: 18vw;
    top: 13.6vh;
    font-size: 1.2vw;
    line-height: 1.2vw;
    color: white;
}

.left-bar-screen-big {
    position: absolute;
    color: rgb(133, 133, 133);
    font-size: 1.2vw;
    width: 6vw;
    line-height: 1.2vw;
    left: 1.7vw;
    font-weight: 100;
}

.left-bar-screen-small {
    position: absolute;
    color: rgb(133,133,133);
    font-size: 0.8vw;
    line-height: 0.8vw;
}

.left-bar-screen-separator {
    position: absolute;
    background-color: #707070;
    height: 1px;
    left: 2.5vw;
    top: 44vh;
    width: 16vw;
    font-size: 1vw;
    line-height: 1vw;
}

.left-bar-hide-button {
    position: absolute;
    left:20vw;
    top: 48vh;
    width: 2vw;
    height: 4vh;
    font-size: 2vw;
    line-height: 3vw;
    color: white;
    cursor: pointer;
}

.left-bar-node-labels {
    position: absolute;
    color: white;
    left: 1.8vw;
    width: 18vw;
    font-size: 1vw;
    line-height: 1.2vw;
}

.left-bar-color-picker {
    position: absolute;
    left: 1.5vw;
    top: 81.5vh;
    width: 5.4vw;
    height: 10.4vh;
    cursor: pointer;
}

.left-bar-dark-mode-label {
    position: absolute;
    color: white;
    left: 1.5vw;
    top: 94vh;
    font-size: 1.2vw;
    line-height: 1.2vw;
}

.left-bar-hidden {
    background-color: rgb(66,66,66);
    z-index: 10;
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 2.5vw;
    height: 100vh;
}

.left-bar-show-button {
   position: absolute;
   left:0.5vw;
   top: 48vh;
   width: 3vw;
   height: 4vh;
   font-size: 3vw;
   line-height: 3vw;
   color: white;
   cursor: pointer;
}

/* The dark mode switch is ripped from w3schools */
.dark-mode-switch {
   position: absolute;
   display: inline-block;
   left: 8.7vw;
   top: 93.5vh;
   width: 3.5vw;
   height: 3.7vh;
}

.dark-mode-switch input {
   opacity: 0;
   width: 0;
   height: 0;
}

/* The slider */
.slider {
   position: absolute;
   cursor: pointer;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: #ccc;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 .slider:before {
   position: absolute;
   content: "";
   height: 2.8vh;
   width: 2.8vh;
   left: 0.5vh;
   bottom: 0.5vh;
   background-color: white;
   -webkit-transition: .4s;
   transition: .4s;
 }
 
 input:checked + .slider {
   background-color: rgb(49, 137, 255);
 }
 
 input:focus + .slider {
   box-shadow: 0 0 1px rgb(49, 137, 255);
 }
 
 input:checked + .slider:before {
   -webkit-transform: translateX(26px);
   -ms-transform: translateX(26px);
   transform: translateX(26px);
 }
 
 /* Rounded sliders */
 .slider.round {
   border-radius: 34px;
 }
 
 .slider.round:before {
   border-radius: 50%;
 }

 /* End of ripped content */

.right-bar-shown {
    background-color: rgb(66,66,66);
    position: absolute;
    z-index: 10;
    right: 0vw;
    top: 0vh;
    width: 22vw;
    height: 100vh;
}

.right-bar-big {
    position: absolute;
    color: white;
    left: 1.3vw;
    font-size: 1.2vw;
    line-height: 1.2vw;
}

.right-bar-small {
    position: absolute;
    color: rgb(133,133,133);
    left: 1.3vw;
    font-size: 1.1vw;
    line-height: 1.1vw;
}

.right-bar-hide-button {
    position: absolute;
    color: white;
    right: 20vw;
    top: 48.5vh;
    font-size: 2vw;
    line-height: 3vw;
    height: 3vh;
    cursor: pointer;
}

.right-bar-info-block {
    position: absolute;
    left: 1vw;
    width: 19vw;
    height: 32vh;
    background-color: white;
}

.right-bar-info-title {
    position: absolute;
    left: 1vw;
    top: 2vh;
    font-size: 1.1vw;
    line-height: 1.1vw;
    color: black;
}

.right-bar-info-text {
    position: absolute;
    left: 2vw;
    top: 5vh;
    width: 10vw;
    height: 30vh;
    font-size: 0.9vw;
    line-height: 0.9vw;
    color: rgb(133,133,133);
}

.right-bar-hidden {
   background-color: rgb(66,66,66);
   position: absolute;
   z-index: 10;
   right: 0;
   top: 0vh;
   width: 2.5vw;
   height: 100vh;
}

.right-bar-show-button {
   position: absolute;
   color: white;
   right: 0.5vw;
   top: 48.5vh;
   font-size: 2.5vw;
   line-height: 2.5vw;
   height: 3vh;
   cursor: pointer;
}

.dropdown {
   position: absolute;
   background-color: white;
   color: rgb(133,133,133);
   height: 4vh;
   font-size: 0.7vw;
   background-image: url("../images/dropdown.png");
   background-position: right center;
   background-size: cover;
}

.dropdown option {
    margin-left: -50px;
}

/*
.dropdown {
   position: absolute;
   background-color: white;
   color: rgb(133,133,133);
   height: 4vh;
   font-size: 1.1vw;
    border-radius: 10px;
   background-image: url("../images/dropdown.png");
   background-position: right top;
   background-size: cover;
   background-repeat: no-repeat;
}
*/

#after-loading .icon {
   position: absolute;
   cursor: pointer;
   width: 5.0vw;
   height: 9.6vh;
   border-style: solid;
   border-color: rgb(170,170,170);
   border-radius: 5px;
   border-left-width: 0.2vw;
   border-right-width: 0.2vw;
   border-top-width: 0.3vh;
   border-bottom-width: 0.3vh;
}

.icon-selected {
   position: absolute;
   width: 5.0vw;
   height: 9.6vh;
   border-style: solid;
   border-color: white;
   background-color: rgb(100,100,100);
   border-radius: 5px;
   border-left-width: 0.2vw;
   border-right-width: 0.2vw;
   border-top-width: 0.3vh;
   border-bottom-width: 0.3vh;
}

.empty-triangle {
    font-size: 2vw;
    transition: 0.4s;
}

.empty-triangle:hover {
    color: rgb(49, 137, 255);
    transition: 0.4s;
    font-size: 1.5vw;
}

#after-loading {
    background-color:#EAEAEA;
    height: 100vh;
    width: 100vw;
    display: block;
 }