<!--
Author(s): Steven van den Broek, Anton Vellikok, Tom Udding
Created: 2019-05-18
Edited: 2019-06-06
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <link rel="stylesheet" type="text/css" href="/static/css/pre-filter.css"> -->
        <link rel="stylesheet" type="text/css" href="/static/css/grid.css">
        <link rel="stylesheet" type="text/css" href="/static/css/grid_style.css">
        <link rel="stylesheet" type="text/css" href="/static/css/pre-filter.css">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,400,700">
        <style>body { background: url("/static/images/first.png") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }</style>
        <!-- Bokeh files from Cloudflare CDN -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh.min.css" integrity="sha256-kmX/Nb5PazwKydPmaZjEb9sOg8BWh1v5eP14IzXJUkU=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-tables.min.css" integrity="sha256-RL9kShsLcf2jHG2zzLh1peDLvWOEK0wPFWSZTiYykc4=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-widgets.min.css" integrity="sha256-+DdrVMn0QeLZ5dYwdqkuugwJ4Im57giLBGqd9wH2YO0=" crossorigin="anonymous" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh.min.js" integrity="sha256-VwiC87GeMmJLjJIRwyI9USfUlf9zpJbgZugDAz7W5CA=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-tables.min.js" integrity="sha256-1xlBn0odMnApk3dBf3oUDUQlsLvSwx2lvcBTIJC0x20=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-widgets.min.js" integrity="sha256-0D9ZpwC/v+rmx33UGlpWU9Uo1+J58MFqTKkGVGDZpEE=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-gl.min.js" integrity="sha256-fDyCLeWMeXB/F1JUTOFAM/9ONJmyiiSfsmPWl5tZQzk=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js" integrity="sha256-HJ7j+71YYw6Kcs8THwQV9lXmPOcR0eXlg7n8KRTZsyA=" crossorigin="anonymous"></script>
        <title>graphion - filter</title>
    </head>
    <body>
        {% include "header.html" %}
        <section class="body-wrapper valign-wrapper">
            <div class="container">
                <div class="row">
                    <!-- Page 1: select theme -->
                    <div class="col-s-8 col-offset-2 valign" id="choose-theme">
                        <div class="card-container">
							<div class="card-contents">
								<h2 class="card-title text-center">Begin by choosing your point of interest</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-6 icon-area">
                                            <img src="/static/images/interesting-nodes-edges.svg" alt="clusters-img">
                                            <br>
                                            <button class="button button-primary"
                                            onclick="
                                            document.getElementById('filter-edge-weight').style.display='block';
                                            document.getElementById('choose-theme').style.display='none'
                                            fetch('/api/filter/distribution/weight/').then(
                                            function(response) {
                                                document.getElementById('weight-selection').setAttribute('hidden', true);
                                                return response.json(); })
                                             .then(function(item) {
                                                Bokeh.embed.embed_item(item, 'weight-plot');
                                             });">Interesting nodes / edges</button>
                                        </div>
                                        <div class="vertical-line"></div>
                                        <div class="col-s-6 icon-area">
                                            <img src="/static/images/clusters.svg" alt="clusters-img">
                                            <br>
                                            <button class="button button-primary"
                                            onclick="
                                            document.getElementById('choose-POI-clusters').style.display='block';
                                            document.getElementById('choose-theme').style.display='none'">Clusters</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                            				<!-- The "Back" -button returns the user to the previous page in his/her browser history -->
                                            <div class="row">
												<div class="footer-area">
                                                    <a href="/selection" class="button pop-up-footer-button pop-up-footer-button-back">Back</a>
                                                    <!-- Opens a "Help" -popup window -->
                                                    <button class="button pop-up-footer-button pop-up-footer-button-help" onclick="document.getElementById('help-page-1').style.display='block';document.getElementById('choose-theme').style.display='none';">Help</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Help section of page 1, that is a separate window -->
                    <div class="col-s-8 col-offset-2 valign" id="help-page-1">
                        <div class="card-container">
							<div class="card-contents">
                                <!-- Explain the difference between interesting nodes / edges and clusters -->
                                <h2 class="card-title text-center">Help</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12">
            								<h3 class="help-section-title">What are interesting nodes / edges?</h3>
                                            <p class="help-section-paragraph">For big datasets, it is not possible to show all nodes and edges in the dataset. That's why you are getting the opportunity to decide which nodes and edges you want to visualize. We will call those nodes and edges 'interesting'.<br>All edges have a weight (possibly 0 or 1). Edges will be considered interesting if their weight is between the minimum and maximum weight, which you get to decide.<br>Nodes will be considered interesting if the number of incoming and outcoming interesting edges is within the minimum and maximum that, again, you can decide.</p><br>
                                            <h3 class="help-section-title">What are clusters?</h3>
                                            <p class="help-section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius finibus sem vitae molestie. Vivamus at quam imperdiet metus interdum tempor. Integer luctus libero id orci auctor posuere. Cras tincidunt hendrerit ante, id feugiat purus sagittis a. Curabitur nec nibh varius, tempor ex in, pulvinar turpis. Ut ligula lectus, dignissim id felis finibus, venenatis pretium lectus. Maecenas accumsan vulputate lorem, vel mollis est pretium sed. Sed felis lacus, finibus eget sem vitae, mollis ultrices tellus. Donec commodo finibus eros, nec egestas lectus blandit id.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back" onclick="document.getElementById('help-page-1').style.display='none';document.getElementById('choose-theme').style.display='block';"> Back</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Page 2: select cluster type -->
                    <div class="col-s-8 col-offset-2 valign" id="choose-POI-clusters">
                        <div class="card-container">
							<div class="card-contents">
								<h2 class="card-title text-center">Specify your point of interest</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-6 icon-area">
                                            <img src="/static/images/clusters.svg" alt="clusters-img">
                                            <br>
                                            <button class="button button-primary"
                                            onclick="
                                            document.getElementById('choose-POI-clusters').style.display='none';">
                                                Cluster Type 1
                                            </button>
                                        </div>
                                        <div class="vertical-line"></div>
                                        <div class="col-s-6 icon-area">
                                            <img src="/static/images/clusters.svg" alt="clusters-img">
                                            <br>
                                            <button class="button button-primary"
                                            onclick="
                                            document.getElementById('choose-POI-clusters').style.display='none';">
                                                Cluster Type 2
                                            </button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
												<div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back" onclick="
                                                    document.getElementById('choose-POI-clusters').style.display='none';
                                                    document.getElementById('choose-theme').style.display='block'">
                                                        Back
                                                    </button>
                                                    <!-- Opens a "Help" -popup window -->
                                                    <button class="button pop-up-footer-button pop-up-footer-button-help" onclick="
                                                    document.getElementById('help-page-2').style.display='block';
                                                    document.getElementById('choose-POI-clusters').style.display='none';">
                                                        Help
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Help section of page 2 -->
                    <div class="col-s-8 col-offset-2 valign" id="help-page-2">
                        <div class="card-container">
                            <div class="card-contents">
                                <!-- Explain the difference between interesting nodes / edges and clusters -->
                                <h2 class="card-title text-center">Help</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12">
                                            <h3 class="help-section-title">What is Cluster Type 1?</h3>
                                            <p class="help-section-paragraph">For big datasets, it is not possible to show all nodes and edges in the dataset. That's why you are getting the opportunity to decide which nodes and edges you want to visualize. We will call those nodes and edges 'interesting'.<br>All edges have a weight (possibly 0 or 1). Edges will be considered interesting if their weight is between the minimum and maximum weight, which you get to decide.<br>Nodes will be considered interesting if the number of incoming and outcoming interesting edges is within the minimum and maximum that, again, you can decide.</p><br>
                                            <h3 class="help-section-title">What is Cluster Type 2?</h3>
                                            <p class="help-section-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce varius finibus sem vitae molestie. Vivamus at quam imperdiet metus interdum tempor. Integer luctus libero id orci auctor posuere. Cras tincidunt hendrerit ante, id feugiat purus sagittis a. Curabitur nec nibh varius, tempor ex in, pulvinar turpis. Ut ligula lectus, dignissim id felis finibus, venenatis pretium lectus. Maecenas accumsan vulputate lorem, vel mollis est pretium sed. Sed felis lacus, finibus eget sem vitae, mollis ultrices tellus. Donec commodo finibus eros, nec egestas lectus blandit id.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back" onclick="document.getElementById('help-page-2').style.display='none';document.getElementById('choose-POI-clusters').style.display='block';"> Back</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Page 3: filter the edge weights -->
                    <div class="col-s-8 col-offset-2 valign" id="filter-edge-weight">
                        <div class="card-container">
                            <div class="card-contents">
                                <h2 class="card-title text-center">Filter edge weights</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12 icon-area valign">

                                            <div id="weight-selection"><div class="load-animation"></div>Loading...</div>
                                            <div id="weight-plot"></div>
                                            <p id="between-weight">Select nodes by dragging the mouse.</p>

                                            <br>
                                            <span class="filter-text">Display only edges that satisfy the weight requirement:</span>
                                            <input type="checkbox" class="multiple-choice-selection" id="edge-weight-chk-box">
                                            <span class="custom-checkbox" id="custom-edge-weight-chk-box"
                                            onclick="
                                            if (document.getElementById('edge-weight-chk-box').checked==false) {
                                                document.getElementById('edge-weight-chk-box').checked=true;
                                            } else {
                                                document.getElementById('edge-weight-chk-box').checked=false;
                                            }"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back" onclick="
                                                    document.getElementById('filter-edge-weight').style.display='none';
                                                    document.getElementById('choose-theme').style.display='block';
                                                    plot = document.getElementById('weight-plot');
                                                    plot.removeChild(plot.childNodes[0]);
                                                    document.getElementById('between-weight').innerHTML = 'Select nodes by dragging the mouse.';
                                                    document.getElementById('weight-selection').removeAttribute('hidden');">
                                                        Back
                                                    </button>

                                                    <button class="button button-primary pop-up-footer-button-continue"
                                                    onclick="
                                                    document.getElementById('filter-edge-weight').style.display='none';
                                                    document.getElementById('filter-node-in-degree').style.display='block';
                                                    fetch('/api/filter/distribution/degree/in/').then(
                                                    function(response) {
                                                        document.getElementById('in-degree-selection').setAttribute('hidden', true);
                                                        return response.json(); })
                                                    .then(function(item) {
                                                        Bokeh.embed.embed_item(item, 'in-degree-plot');
                                                    });
                                                    ">Continue</button>

                                                    <!-- Opens a "Help" -popup window -->
                                                    <button class="button pop-up-footer-button pop-up-footer-button-help" onclick="
                                                    document.getElementById('help-page-3').style.display='block';
                                                    document.getElementById('filter-edge-weight').style.display='none';">
                                                    Help</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Help section of page 3 -->
                    <div class="col-s-8 col-offset-2 valign" id="help-page-3">
                        <div class="card-container">
                            <div class="card-contents">
                                <h2 class="card-title text-center">Help</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12">
                                            <h3 class="help-section-title">What are edge weights?</h3>
                                            <p class="help-section-paragraph">For big datasets, it is not possible to show all nodes and edges in the dataset. That's why you are getting the opportunity to decide which nodes and edges you want to visualize. We will call those nodes and edges 'interesting'.<br>All edges have a weight (possibly 0 or 1). Edges will be considered interesting if their weight is between the minimum and maximum weight, which you get to decide.<br>Nodes will be considered interesting if the number of incoming and outcoming interesting edges is within the minimum and maximum that, again, you can decide.</p><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back" onclick="
                                                    document.getElementById('help-page-3').style.display='none';
                                                    document.getElementById('filter-edge-weight').style.display='block';">
                                                        Back
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                     <!-- Page 4: filter the node in-degrees -->
                    <div class="col-s-8 col-offset-2 valign" id="filter-node-in-degree">
                        <div class="card-container">
                            <div class="card-contents">
                                <h2 class="card-title text-center">Filter node's in-degree</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12 icon-area valign">
                                            <div id="in-degree-selection"><div class="load-animation"></div>Loading...</div>
                                            <div id="in-degree-plot"></div>
                                            <p id="between-in-degree">Select nodes by dragging the mouse.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back"
                                                    onclick="
                                                    document.getElementById('filter-node-in-degree').style.display='none';
                                                    document.getElementById('filter-edge-weight').style.display='block';
                                                    plot = document.getElementById('in-degree-plot');
                                                    plot.removeChild(plot.childNodes[0]);
                                                    document.getElementById('between-in-degree').innerHTML = 'Select nodes by dragging the mouse.';
                                                    document.getElementById('in-degree-selection').removeAttribute('hidden');">
                                                        Back
                                                    </button>
                                                    <button class="button button-primary pop-up-footer-button-continue"
                                                    onclick="
                                                    document.getElementById('filter-node-in-degree').style.display='none';
                                                    document.getElementById('filter-node-out-degree').style.display='block';
                                                    fetch('/api/filter/distribution/degree/out/').then(
                                                    function(response) {
                                                        document.getElementById('out-degree-selection').setAttribute('hidden', true);
                                                        return response.json(); })
                                                     .then(function(item) {
                                                        Bokeh.embed.embed_item(item, 'out-degree-plot');
                                                     });">
                                                        Continue
                                                    </button>
                                                    <button class="button pop-up-footer-button pop-up-footer-button-help"
                                                    onclick="
                                                    document.getElementById('help-page-4').style.display='block';
                                                    document.getElementById('filter-node-in-degree').style.display='none';">
                                                        Help
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Help section of page 4 -->
                    <div class="col-s-8 col-offset-2 valign" id="help-page-4">
                        <div class="card-container">
                            <div class="card-contents">
                                <h2 class="card-title text-center">Help</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12">
                                            <h3 class="help-section-title">What is node's in-degree?</h3>
                                            <p class="help-section-paragraph">For big datasets, it is not possible to show all nodes and edges in the dataset. That's why you are getting the opportunity to decide which nodes and edges you want to visualize. We will call those nodes and edges 'interesting'.<br>All edges have a weight (possibly 0 or 1). Edges will be considered interesting if their weight is between the minimum and maximum weight, which you get to decide.<br>Nodes will be considered interesting if the number of incoming and outcoming interesting edges is within the minimum and maximum that, again, you can decide.</p><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back" onclick="
                                                    document.getElementById('help-page-4').style.display='none';
                                                    document.getElementById('filter-node-in-degree').style.display='block';">
                                                        Back
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Page 5: filter the node out-degrees -->
                    <div class="col-s-8 col-offset-2 valign" id="filter-node-out-degree">
                        <div class="card-container">
                            <div class="card-contents">
                                <h2 class="card-title text-center">Filter node's out-degree</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12 icon-area valign">
                                            <div id="out-degree-selection"><div class="load-animation"></div>Loading...</div>
                                            <div id="out-degree-plot"></div>
                                            <p id="between-out-degree">Select nodes by dragging the mouse.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back"
                                                    onclick="
                                                    document.getElementById('filter-node-out-degree').style.display='none';
                                                    document.getElementById('filter-node-in-degree').style.display='block';
                                                    plot = document.getElementById('out-degree-plot');
                                                    plot.removeChild(plot.childNodes[0]);
                                                    document.getElementById('between-out-degree').innerHTML = 'Select nodes by dragging the mouse.';
                                                    document.getElementById('out-degree-selection').removeAttribute('hidden');">
                                                        Back
                                                    </button>
                                                    <button class="button button-primary pop-up-footer-button-continue"
                                                    onclick="location.href='/visualise/{{fileName}}'">
                                                        Start the tool
                                                    </button>
                                                    <button class="button pop-up-footer-button pop-up-footer-button-help"
                                                    onclick="
                                                    document.getElementById('help-page-5').style.display='block';
                                                    document.getElementById('filter-node-out-degree').style.display='none';">
                                                        Help
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Help section of page 5 -->
                    <div class="col-s-8 col-offset-2 valign" id="help-page-5">
                        <div class="card-container">
                            <div class="card-contents">
                                <h2 class="card-title text-center">Help</h2>
                                <hr>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-s-12">
                                            <h3 class="help-section-title">What is node's out-degree?</h3>
                                            <p class="help-section-paragraph">For big datasets, it is not possible to show all nodes and edges in the dataset. That's why you are getting the opportunity to decide which nodes and edges you want to visualize. We will call those nodes and edges 'interesting'.<br>All edges have a weight (possibly 0 or 1). Edges will be considered interesting if their weight is between the minimum and maximum weight, which you get to decide.<br>Nodes will be considered interesting if the number of incoming and outcoming interesting edges is within the minimum and maximum that, again, you can decide.</p><br>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-s-12 col-0-margin">
                                            <div class="row">
                                                <div class="footer-area">
                                                    <button class="button pop-up-footer-button pop-up-footer-button-back"
                                                    onclick="
                                                    document.getElementById('help-page-5').style.display='none';
                                                    document.getElementById('filter-node-out-degree').style.display='block';">
                                                        Back
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </body>
</html>