<!--
Author(s): Tom Udding
Created: 2019-06-03
Edited: 2019-06-03
-->
<header class="navigation-wrapper">
    <div class="navigation-container">
        <div class="navigation-row">
            <div class="navigation-logo">
                <a href="/" class="graphion" title="graphion">graph<span class="navigation-logo-bold">ion</span></a>
            </div>
            <input type="checkbox" class="navigation-button" id="navigation-button">
            <label for="navigation-button" class="navigation-icon"><span class="navicon"></span></label>
            <nav class="navigation-links">
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/#video-jump">VIDEO</a></li>
                    <li><a href="/#meet-the-team">TEAM</a></li>
                    <li><a href="/#report">REPORT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>