<!--
Author(s): Tom Udding, Anton Vellikok
Created: 2019-04-29
Edited: 2019-05-03
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>graphion</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <div id="home">
            <div class="header">
                <div class="header-85-percent">

                    <!--Left-side of the header: logo-->
                    <div class="logo-container">
                        <img src="{{ url_for('static', filename='images/network.png') }}" alt="graphion logo" class="logo">
                    </div>

                    <!--Left-side of the header: logo text-->
                    <div class="logo-text-container">
                       <a class="logo-text" href="#home" style="text-decoration:none">graph<span class="logo-text" id="logo-text-bold">ion</span></a>
                    </div>


                    <!--Right-side of the header: buttons-->
                    <div class="header-buttons-container">

                        <!--Team jump-button-->
                        <button type="button" class="header-button" onclick="location.href='#meet-the-team'">team</button>

                        <!--Submit jump-button-->
                        <button type="button" class="header-button" onclick="location.href='#report'">report</button>

                        <!--Video jump-button-->
                        <button type="button" class="header-button" onclick="location.href='#video'">video</button>

                    </div>
                </div>
            </div>
            <div class="central-container">
                <div class="black-box">
                    <div class="black-box-text">
                        <span class="bb-hi">
                            Hi,
                        </span>
                        <br>
                        <span class="bb-welcome">
                            welcome to
                            <span class="bb-graphion">
                                <span class="bb-graphion-normal">graph</span>ion
                            </span>
                            , an <br>
                            online graph visualization tool. <br>
                        </span>
                        <span class="bb-begin">
                            Begin by opening <br>
                            the web app.
                        </span>
                        <br>
                        <button type="button" class="header-button">launch graphion</button>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="meet-the-team">
        <div class="space-container"></div>
        <span id="team-text">Meet the team:</span>
    </div>

    <div id="report">
        <div class="space-container"></div>
        <span id="report-text">Read our report</span>
    </div>

    <div id="video">
        <div class="space-container"></div>
        <span id="video-text">Watch our video</span>
    </div>

</body>
</html>