<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>graphion</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
	<div class="container">

		<!--Header-->
		<div class="header">
			<div class="header-85-percent">
				
				<!--Left-side container with the logo-->
				<div class="logo-container">
					<img src="{{ url_for('static', filename='image/network.png') }}" alt="graphion logo" class="logo">
				</div>

				<!--Right-side container with the upload file and submit buttons-->
				<div class="upload-file-container">
					<input type="file" hidden="hidden" id="original-input-button"/>
					<input type="submit" hidden="hidden" id="original-submit-button">

					<!--upload file button-->
					<button type="button" class="header-button" id="redirected-input-button">upload file</button>

					<!--Redirecteding the original input button to a custom one-->
					<script>
						const ogInputButton = document.getElementById("original-input-button")
						const redirectedInputButton = document.getElementById("redirected-input-button")

						// redirect Input Button
						redirectedInputButton.addEventListener("click", function() {
							ogInputButton.click()
						});
					</script>

					<!--Text displaying the file name of the uploaded file-->
					<span class="button-text" id="button-text-bold">File chosen:</span>
					<span class="button-text" id="display-file-name">File has not been chosen yet.</span>
						 
					<!--Submit button-->
					<button type="button" class="header-button" id="redirected-submit-button">submit</button>

					<!--Redirecteding the original submit button to a custom one-->
					<script>
						const ogSubmitButton = document.getElementById("original-submit-button")
						const redirectedSubmitButton = document.getElementById("redirected-submit-button")
						const displayedText = document.getElementById("display-file-name")

						// Change the file name displayed
						ogInputButton.addEventListener("change", function() {
							if (ogInputButton.value) {
								displayedText.innerHTML = ogInputButton.value.match(/[\/\\]([\w\d\s\.\-\(\)]+)$/)[1];
							} else {
								displayedText.innerHTML = "File has not been chosen yet.";
							}
						});

						// redirect Submit Button
						redirectedSubmitButton.addEventListener("click", function() {
							ogSubmitButton.click()
						});

						og
					</script>
				</div>

			</div>
		</div>
	</div>
</body>
</html>
