<!--
Author(s): Tom Udding
Created: 2019-04-29
Edited: 2019-05-31
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>graphion - file selection</title>
		<link rel="stylesheet" type="text/css" href="/static/css/grid.css">
		<link rel="stylesheet" type="text/css" href="/static/css/grid_style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/header.css">
	    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:100,400,700">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css" integrity="sha256-e47xOkXs1JXFbjjpoRr1/LhVcqSzRmGmPqsrUQeVs+g=" crossorigin="anonymous">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js" integrity="sha256-cs4thShDfjkqFGk5s2Lxj35sgSRr4MRcyccmi0WKqCM=" crossorigin="anonymous"></script>
		<style>body { background: url("/static/images/first.png") no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }</style>
	</head>
	<body>
		<header class="navigation-wrapper">
			<div class="navigation-container">
				<div class="navigation-row">
					<div class="navigation-logo">
						<a href="/" class="graphion" title="graphion">graph<span class="navigation-logo-bold">ion</span></a>
					</div>
					<input type="checkbox" class="navigation-button" id="navigation-button">
					<label for="navigation-button" class="navigation-icon"><span class="navicon"></span></label>
					<nav class="navigation-links">
						<ul>
							<li><a href="/">HOME</a></li>
							<li><a href="/#video-jump">VIDEO</a></li>
							<li><a href="/#meet-the-team">TEAM</a></li>
							<li><a href="/#report">REPORT</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<section class="body-wrapper valign-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-s-8 col-offset-2 valign">
						<div class="card-container">
							<div class="card-contents">
								<h2 class="card-title text-center">Select or upload a file</h2>
								<div class="card-body">
									<p class="card-subtitle text-center">Please select a previously uploaded data set from the list or upload a new data set.</p>
									<hr>
									<div class="row file-selection-container" style="display: none">
										<div class="col-s-12">
											{% if filesList is defined and filesList|length >= 0 %}
												<ul>
													{% if filesList|length <= 0 %}
														<li>No files have been uploaded</li>
													{% else %}
														{% for key, value in filesList.items() %}
															<li><a href="filter/{{ key|e }}">{{ value|e }}</a></li>
														{% endfor %}
													{% endif %}
												</ul>
											{% else %}
												<p>An unknown error has occurred while trying to retrieve previously uploaded data sets. Try again later.</p>
											{% endif %}
										</div>
									</div>
									<div class="row file-upload-container" style="display: none">
										<div class="col-s-12">
											<form action="/upload" class="dropzone" id="graphion-dropzone">
												<div class="dz-message" data-dz-message><span>Drop files here or click to upload</span></div>
											</form>
										</div>
									</div>
									<div class="row">
										<div class="col-s-12 col-0-margin">
											<div class="row" id="file-selection-buttons">
												<div class="col-s-4 col-offset-2">
													<button class="button button-primary" id="file-selection-list">Previously Uploaded</button>
												</div>
												<div class="col-s-4">
													<button class="button button-primary" id="file-selection-upload">Upload New File</button>
												</div>
											</div>
											<div class="row">
												<div class="col-s-2" style="margin: 0 auto;">
													<button class="button button-primary" id="file-selection-back" style="display: none;">Back</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
	<script>
		document.getElementById("file-selection-list").addEventListener('click', function() {
			toggleButtons();
			document.querySelector(".card-title").textContent = "Select a file";
			document.querySelector(".file-upload-container").style.display = "none";
			document.querySelector(".file-selection-container").style.display = "flex";
		}, false);

		document.getElementById("file-selection-upload").addEventListener('click', function() {
			toggleButtons();
			document.querySelector(".card-title").textContent="Upload a file";
			document.querySelector(".file-selection-container").style.display = "none";
			document.querySelector(".file-upload-container").style.display = "flex";
		}, false);

		document.getElementById("file-selection-back").addEventListener('click', function() {
			toggleButtons();
			document.querySelector(".card-title").textContent="Select or upload a file";
			document.querySelector(".file-selection-container").style.display = "none";
			document.querySelector(".file-upload-container").style.display = "none";
		}, false);

		function toggleButtons() {
			if (window.getComputedStyle(document.getElementById("file-selection-back")).getPropertyValue("display") == "none") {
				document.getElementById("file-selection-back").style.display = "inline-block";
				document.getElementById("file-selection-buttons").style.display = "none";
				document.getElementById("file-selection-list").style.display = "none";
				document.getElementById("file-selection-upload").style.display = "none";
			} else {
				document.getElementById("file-selection-back").style.display = "none";
				document.getElementById("file-selection-buttons").style.display = "flex";
				document.getElementById("file-selection-list").style.display = "inline-block";
				document.getElementById("file-selection-upload").style.display = "inline-block";
			}
		}
	</script>
	<script>
		Dropzone.options.graphionDropzone = {
			paramName: "file",
			maxFiles: 1,
			maxFilesize: 1000,
			acceptedFiles: "text/csv,.csv",
			//autoProcessQueue: false,
			init: function() {
		        this.on("success", function (file) {
		            window.location = "/filter/" + file.xhr.response;
		        });
		    }
		};
	</script>
</html>