<!--
Author(s): Tom Udding
Created: 2019-04-29
Edited: 2019-05-10
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>graphion - file selection</title>
		<link rel="stylesheet" type="text/css" href="static/css/grid.css">
		<link rel="stylesheet" type="text/css" href="static/css/grid_style.css">
	    <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
	</head>
	<body>
		<!--
			THIS SECTION IS BASED ON MY OWN HTML/CSS FRAMEWORK
			NEEDS TO BE ADJUSTED TO WHAT ANTON COMES UP WITH
			UNLESS WE WANT TO USE THIS
			- Tom Udding
		-->
		<section class="body-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-s-12">
						<h1 class="text-center">Select or upload</h1>
						<p class="text-center">Please select a previously uploaded data set from the list or upload a new data set.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-s-6">
						<!-- existing file selection -->
						<div class="file-selection-container">
							<h3>Select a data set:</h3>
							<hr>
							{% if filesList is defined and filesList|length >= 0 %}
								<ul>
									{% if filesList|length <= 0 %}
										<li>No files have been uploaded</li>
									{% else %}
										{% for key, value in filesList.items() %}
											<li><a href="filter/{{ key|e }}">{{ value|e }}</a></li>
										{% endfor %}
									{% endif %}
								</ul>
							{% else %}
								<p>An unknown error has occurred while trying to retrieve previously uploaded data sets. Try again later.</p>
							{% endif %}
						</div>
					</div>
					<div class="col-s-6">
						<!-- file upload -->
						<div class="file-upload-container">
							<h3>Upload a data set:</h3>
							<hr>
							<form action="/upload" method="POST" enctype="multipart/form-data">
								<div class="row">
									<div class="col-s-6">
										<label for="file-upload" class="button button-secondary">Upload File</label>
									    <input type="file" name="file" id="file-upload" hidden>
									</div>
									<div class="col-s-6">
										<!--Text displaying the file name of the uploaded file-->
										<span class="button-text" id="button-text-bold">File chosen:</span>
										<span class="button-text" id="display-file-name">no file selected</span>
									</div>
								</div>
								<div class="row">
									<div class="col-s-12">
							    		<input type="submit" class="button button-secondary" value="Submit" name="submit">
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</body>
	<script>
		var fileInputButton = document.getElementById('file-upload');
		fileInputButton.addEventListener('change', showFileName);

		function showFileName(event) {
			var input = event.srcElement;
			var fileName = input.files[0].name;
			document.getElementById('display-file-name').textContent = fileName;
		}
	</script>
</html>
