<!--
Author(s): Tom Udding, Sam Baggen, Tim van de Klundert, Anton Vellikok
Created: 2019-05-01
Edited: 2019-06-17
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>graphion - visualisation</title>
		<!-- Stylesheets for the loading screen-->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,700" rel="stylesheet">
		<!-- Stylesheet for the tool after the loading -->
		<script src="/static/scripts/toolUI.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/grid.css">
		<link rel="stylesheet" type="text/css" href="/static/css/grid_style.css">
		<link rel="stylesheet" type="text/css" href="/static/css/tool_ui.css">
		<!-- Bokeh files from Cloudflare CDN -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh.min.css" integrity="sha256-kmX/Nb5PazwKydPmaZjEb9sOg8BWh1v5eP14IzXJUkU=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-tables.min.css" integrity="sha256-RL9kShsLcf2jHG2zzLh1peDLvWOEK0wPFWSZTiYykc4=" crossorigin="anonymous" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-widgets.min.css" integrity="sha256-+DdrVMn0QeLZ5dYwdqkuugwJ4Im57giLBGqd9wH2YO0=" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh.min.js" integrity="sha256-VwiC87GeMmJLjJIRwyI9USfUlf9zpJbgZugDAz7W5CA=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-tables.min.js" integrity="sha256-1xlBn0odMnApk3dBf3oUDUQlsLvSwx2lvcBTIJC0x20=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-widgets.min.js" integrity="sha256-0D9ZpwC/v+rmx33UGlpWU9Uo1+J58MFqTKkGVGDZpEE=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bokeh/1.1.0/bokeh-gl.min.js" integrity="sha256-fDyCLeWMeXB/F1JUTOFAM/9ONJmyiiSfsmPWl5tZQzk=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/dat-gui/0.7.6/dat.gui.min.js" integrity="sha256-HJ7j+71YYw6Kcs8THwQV9lXmPOcR0eXlg7n8KRTZsyA=" crossorigin="anonymous"></script>
		<!-- Plotly files -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.48.1/plotly.min.js" integrity="sha256-LE6cKkU1yNCSCMPJrBlZonWX8bdy0EuY2QDpbmJaOzY=" crossorigin="anonymous"></script>
		<!-- jQuery for post methods... -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	</head>
	<body class="valign-wrapper" id="body">
		<button onclick="makeScreenshot()">Screenshot</button>
		<script>

			function makeScreenshot(){
				const canvas = document.getElementsByTagName('canvas')[0];
				/*
				const gl = canvas.getContext('webgl') || canvas.getContext('experimental-webgl');
				console.log('gl is ' + gl + ' and ctx is ' + canvas.getContext('2d'));
				const length = 4 * canvas.width * canvas.height;
				const pixelBuffer = new Uint8Array(length);
				gl.readPixels(0, 0, canvas.width, canvas.height, gl.RGBA, gl.UNSIGNED_BYTE, pixelBuffer);
				const offCanvas = document.createElement('canvas');
				offCanvas.width = canvas.width;
				offCanvas.height = canvas.height;
				const ctx = offCanvas.getContext('2d');
				const imageData = ctx.createImageData(canvas.width, canvas.height);
				const data = imageData.data;
				for (let index = 0; index < length; index++){
					data[index] = pixelBuffer[index];
				}
				ctx.putImageData(imageData, 0, 0);
				document.body.append(offCanvas);
				*/
				const offCanvas = document.createElement('canvas');
				offCanvas.width = canvas.width;
				offCanvas.height = canvas.height;
				const ctx = offCanvas.getContext('2d');
				ctx.drawImage(canvas, 0, 0);
				document.getElementById('after-loading').remove();
				document.getElementsByClassName('bokeh-container valign')[0].remove();
				const div = document.createElement('div');
				div.innerText = "Right click on the visualization below and click on 'Save image as...'";
				document.body.append(div);
				document.body.append(offCanvas);
			}
		</script>
		<section class="body-wrapper" id="loading-screen">
			<div class="container">
				<div class="row">
					<div class="col-s-6" id="nodelink">
						<p id="nodelink-text">Loading nodelink diagram...</p>
						<div id="nodelink-load"><canvas id="nodelink-loading"></canvas></div>
						<div id="nodelink-plot"></div>
					</div>
					<div class="col-s-6" id="matrix-container">
						<p id="matrix-text">Loading matrix...</p>
						<div id="matrix-load"><canvas id="matrix-loading"></canvas></div>
						<div id="matrix-plot"></div>
					</div>
					<script>
						var canvas = document.getElementById('nodelink-loading');
						var container = document.getElementById('loading-screen');
						var context = canvas.getContext('2d');
						var div = document.getElementById("nodelink");
						var width = div.clientWidth - 5;
						var height = (div.clientHeight * 3) - 5;
						canvas.width = width;
						canvas.height = height;
						var graph = {
							velocity: 1,
							minRadius: 2,
							maxRadius: 5,
							connectDistance: 200,
							dots: width * height / (100 * 100),
							lineWidth: 2
						};
						window.requestAnimFrame = (function() {
							return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || function(callback) {
								window.setTimeout(callback, 1000 / 60);
							};
						})();
						function random(min, max) {
							if (min > max) {
								min = [max, max = min][0];
							}
							return Math.random() * (max - min + 1) + min;
						}
						function round(x) {
							return Math.round(x);
						}
						function drawBackground() {
							context.beginPath();
							context.rect(0, 0, width, height);
							context.fillStyle = "rgba(234, 234, 234, 1)";
							context.fill();
						}
						function distance(dotA, dotB) {
							var dX = dotA.x - dotB.x;
							var dY = dotA.y - dotB.y;
							return Math.sqrt(dX * dX + dY * dY);
						}
						function line(dotA, dotB) {
							var gradient = context.createLinearGradient(dotA.x, dotA.y, dotB.x, dotB.y);
							gradient.addColorStop(0, dotA.color);
							gradient.addColorStop(1, dotB.color);
							context.strokeStyle = gradient;
							context.lineWidth = graph.lineWidth;
							context.lineCap = "round";
							context.beginPath();
							context.moveTo(dotA.x, dotA.y);
							context.lineTo(dotB.x, dotB.y);
							context.stroke();
						}
						function Dot() {
							this.r = random(graph.minRadius, graph.maxRadius);
							this.vx = random(-3, 3);
							this.vy = random(-3, 3);
							this.x = random(0, width);
							this.y = random(0, height);
							this.color = "rgb(" + [round(random(100, 220)), round(random(100, 220)), round(random(100, 220))].join() + ")";
							this.update = function() {
								this.x += this.vx * graph.velocity;
								this.y += this.vy * graph.velocity;
								if (this.x > width - this.r) {
									this.vx *= -1.0;
									this.x = width - this.r
								}
								if (this.y > height - this.r) {
									this.vy *= -1.0;
									this.y = height - this.r
								}
								if (this.x < this.r) {
									this.vx *= -1.0;
									this.x = this.r
								}
								if (this.y < this.r) {
									this.vy *= -1.0;
									this.y = this.r
								}
							};
							this.draw = function() {
								context.fillStyle = this.color;
								context.beginPath();
								context.arc(this.x, this.y, this.r, 0, 2 * Math.PI);
								context.fill();
							};
							this.connect = function(i) {
								for (var j = i; j < dots.length; j++) {
									if (distance(this, dots[j]) < graph.connectDistance) {
										line(this, dots[j]);
									}
								}
							};
						}
						function createDots() {
							dots = [];
							for (var i = 0; i < graph.dots; i++) {
								dots.push(new Dot());
							}
						}
						function draw() {
							drawBackground();
							dots.forEach(function(dot) {
								dot.update();
							});
							dots.forEach(function(dot) {
								dot.draw();
							});
							dots.forEach(function(dot, i) {
								dot.connect(i);
							});
							if (document.getElementsByClassName('bk bk-canvas-events').length > 0) {
								container.remove();
								document.getElementById('after-loading').hidden = false;
							} else {
								requestAnimFrame(draw);
							}
						};
						var dots = [];
						createDots();
						draw();
						var matrixCanvas = document.getElementById("matrix-loading");
						var matrixContext = matrixCanvas.getContext('2d');
						var matrixDiv = document.getElementById("matrix-container");
						var matrixWidth = matrixDiv.clientWidth - 5;
						var matrixHeight = (matrixDiv.clientHeight) - 5;
						matrixCanvas.width = matrixWidth;
						matrixCanvas.height = matrixHeight;
						var matrix = {
							velocity: 1,
							minSize: 20,
							maxSize: 50,
							squares: (matrixWidth * matrixHeight) / (100 * 100)
						};
						function drawMatrixBackground() {
							matrixContext.beginPath();
							matrixContext.rect(0, 0, matrixWidth, matrixHeight);
							matrixContext.fillStyle = "rgba(234, 234, 234, 1)";
							matrixContext.fill();
						}
						function Square() {
							this.size = random(matrix.minSize, matrix.maxSize);
							this.vx = random(-3, 3);
							this.vy = random(3, -3);
							this.x = random(0, matrixWidth);
							this.y = random(0, matrixHeight);
							this.color = "rgb(" + [round(random(100, 220)), round(random(100, 220)), round(random(100, 220))].join() + ")";
							this.update = function() {
								this.x += this.vx * matrix.velocity;
								this.y += this.vy * matrix.velocity;
								if (this.x > matrixWidth - this.size) {
									this.vx *= -1.0;
									this.x = matrixWidth - this.size
								}
								if (this.y > matrixHeight - this.size) {
									this.vy *= -1.0;
									this.y = matrixHeight - this.size
								}
								if (this.x < this.size) {
									this.vx *= -1.0;
									this.x = this.size
								}
								if (this.y < this.size) {
									this.vy *= -1.0;
									this.y = this.size
								}
						};
							this.draw = function() {
								matrixContext.fillStyle = this.color;
								matrixContext.fillRect(this.x, this.y, this.size, this.size);
							};
						}
						function createSquares() {
							squares = [];
							for (var i = 0; i < graph.dots; i++) {
								squares.push(new Square());
							}
						}
						function drawMatrix() {
							drawMatrixBackground();
							squares.forEach(function(square) {
								square.update();
							});
							squares.forEach(function(square) {
								square.draw();
							});
							if (document.getElementsByClassName('node-table').length > 0) {
								container.remove();
								document.getElementById('after-loading').hidden = false;
								const edge_t = document.getElementsByClassName('edge-table')[0];
								const node_t = document.getElementsByClassName('node-table')[0];
								if (node_t) {
									document.getElementById("node-container").appendChild(node_t);
								}
								document.getElementById("edge-container").appendChild(edge_t);
								if (node_t) {
									node_t.classList.remove("invisible");
								}
								edge_t.classList.remove("invisible");
								const trash = document.getElementsByClassName("trash")[0];
								const too_large = document.getElementsByClassName("screen-1")[0].parentNode;
								too_large.removeChild(trash);
								// let sum = 0;
								// for (let i = 0; i < too_large.childNodes.length; i++){
								// 	sum += too_large.childNodes[i].offsetWidth
								//
								// }
								// too_large.style.width = `${sum}px`;
								// too_large.parentNode.style.width = `${sum}px`;
								// too_large.parentNode.parentNode.style.width = `${sum}px`;
								too_large.classList.add("good-width");
								too_large.parentNode.classList.add("good-width");
								too_large.parentNode.parentNode.classList.add("good-width");

							} else {
								requestAnimFrame(drawMatrix)
							}
						};
						var squares = [];
						createSquares();
						drawMatrix();
					</script>
				</div>
			</div>
		</section>
		<div id="after-loading" hidden>

			<!-- Left side of the tool bar -->
			<div class="left-bar-shown" id="left-bar-shown">

				<!-- Links to home and filter pages -->
				<div class="left-bar-small-links">
					<a href="/"><  home</a><br>
					<a href="/filter/{{ fileName }}" style="cursor: pointer;"><  filter</a>
				</div>

				<!-- Logo -->
				<div class="left-bar-graphion">
				 	<a href="/">graph<span class="graphion-bold">ion</span></a>
				</div>

				<!-- Choose visualization title  -->
				<div class="left-bar-choose-vis white-text" >Choose a vizualisation type:</div>

				<!-- Screen 1 options -->
				<div class="left-bar-screen-big" style="top: 27vh;">Screen 1:</div>
				<div class="left-bar-screen-small" style="top: 27.3vh; left: 222px;">Radial</div>
				<img class="icon" id="radial" onclick="displayDiagram('radial')" src="/static/images/icons/icon-radial-diagram-black.svg" style="left: 222px; top: 17.3vh;">
				<div class="left-bar-screen-small" style="top: 27.3vh; left: 125px;">Force-directed</div>
				<img class="icon-selected" id="force" onclick="displayDiagram('force')" src="/static/images/icons/icon-forcedirected-diagram-black.svg" style="left: 125px; top: 17.3vh;">
				<div class="left-bar-screen-small" style="top: 39.8vh; left: 125px;">Hierarchical</div>
				<img class="icon" id="hierarchical" onclick="displayDiagram('hierarchical')" src="/static/images/icons/icon-hierarchical-diagram-black.svg" style="left: 125px; top: 29.8vh;">
				<div class="left-bar-screen-small" style="top: 39.8vh; left: 222px;">3D node-link diagram</div>
				<img class="icon" id="3d" onclick="displayDiagram('3d')" src="/static/images/icons/icon-3d-diagram-black.svg" style="left: 222px; top: 29.8vh;">

				<!-- Screen divisor  -->
				<div class="left-bar-screen-separator"></div>


				<!-- Minimize left tool bar button -->
				<div class="left-bar-hide-button empty-triangle white-text" onclick="hideLeftBar()">◁</div>

				<!-- Screen 2 options -->
				<div class="left-bar-screen-big" style="top: 45.5vh;">Screen 2:</div>
				<div class="left-bar-screen-small" style="top: 54.8vh; left: 125px;">Select linkage criterium:</div>
				<select class="dropdown" onChange = "displayReordering(this.value)" style="left: 125px; top: 57vh; width:170px;">
					<option value="none">None</option>
					<option value="single">Single</option>
					<option value="average">Average</option>
					<option value="complete">Complete</option>
					<option value="centroid">Centroid</option>
					<option value="weighted">Weighted</option>
					<option value="median">Median</option>
					<option value="ward">Ward</option>
	            </select>

	            <div class="left-bar-screen-small" style="top: 47.8vh; left: 125px;">Select metric:</div>
				<select class="dropdown" onChange = "displayMetric(this.value)" style="left: 125px; top: 50vh; width: 170px;">
					<option value="euclidean">Euclidean</option>
					<option value="minkowski">Minkowski</option>
					<option value="cityblock">Cityblock</option>
					<option value="sqeuclidean">Sqeuclidean</option>
					<option value="cosine">Cosine</option>
					<option value="correlation">Correlation</option>
					<option value="hamming">Hamming</option>
	                <option value="jaccard">Jaccard</option>
	                <option value="chebyshev">Chebyshev</option>
	                <option value="canberra">Canberra</option>
	                <option value="braycurtis">Braycurtis</option>
				</select>

				<div class="left-bar-screen-small" style="top: 60vh; left: 23px; width: 5.4vw;">Adjacency matrix</div>
				<img class="icon-selected" id="matrix" onclick="displayMatrix()" src="/static/images/icons/icon-matrix-black.svg" style="left: 23px; top: 49.8vh;">


				<!-- Rezize option -->
				<div class="left-bar-node-labels white-text" style="top: 67vh;">Resize the nodes by:</div>
				<select class="dropdown"onChange = "displayNodeSize(this.value)" style="left: 23px; top: 70vh; width: 170px;">
					<option value="indegreesize" selected>In-degree</option>
					<option value="outdegreesize">Out-degree</option>
					<option value="totaldegreesize">Total degree</option>
					<option value="outweightsize">Total out edge weight</option>
					<option value="inweightsize">Total in edge weight</option>
					<option value="totalweightsize">Total edge weight</option>
				</select>


				<!-- Recolor option -->
				<div class="left-bar-node-labels white-text" style="top: 75.6vh;">Recolor the nodes by:</div>
				<select class="dropdown" onChange = "displayNodeColor(this.value)" style="left: 23px; top: 78.5vh; width: 170px;">
					<option value="indegree">In-degree</option>
					<option value="outdegree">Out-degree</option>
					<option value="totaldegree">Total degree</option>
					<option value="outweight">Total out edge weight</option>
					<option value="inweight">Total in edge weight</option>
					<option value="totalweight" selected>Total edge weight</option>
				</select>


				<!-- Color palette -->
	            <div class="left-bar-node-labels white-text" style="top: 84.2vh;">Color palette:</div>
				<select class="dropdown" onChange = "displayPalette(this.value)" style="left: 23px; top: 87.1vh; width: 170px;">
	                <option value="kbc" selected="selected">Black to Cyan</option>
	                <option value="kgy">Green to Yellow</option>
	                <option value="bgy">Blue to Green to Yellow</option>
	                <option value="bmw">Blue to Violet to Pink</option>
	                <option value="bmy">Blue to Magenta to Yellow</option>
	                <option value="cividis">Cividis</option>
	                <option value="dimgray">Grayscale</option>
	                <option value="fire">Fire</option>
	                <option value="inferno">Inferno</option>
	                <option value="viridis">Viridis</option>
				</select>

				<!-- Dark mode -->
				<div class="left-bar-dark-mode-label white-text">Dark mode:</div>
				<label class="dark-mode-switch" onclick="darkMode()">
					<input type="checkbox" id="dark-mode-chk-box">
					<span class="slider round"></span>
				</label>
			</div>

			<!-- Left bar minimized -->
			<div class="left-bar-hidden" id="left-bar-hidden" hidden>
				<div class="left-bar-show-button empty-triangle white-text" onclick="showLeftBar()">▷</div>
			</div>


			<!-- Right side of the tool bar -->
			<div class="right-bar-shown" id="right-bar-shown">

				<!-- First information area -->
				<div class="right-bar-big white-text" style="top: 5.6vh; left: 38px;">Selected nodes</div>

				<div id="node-container" class="right-bar-info-block bk-root" style="top: 10vh; left: 25px; position: absolute"></div>


				<!-- Minimize right tool bar button -->
				<div class="right-bar-hide-button empty-triangle white-text" onclick="hideRightBar()">▷</div>

				<!-- Second information area -->
				<div class="right-bar-big white-text" style="top: 53vh; left: 38px;">Selected edges</div>
				<div id="edge-container" class="right-bar-info-block bk-root" style="top: 57vh; left: 25px; position: absolute"></div>
			</div>

			<!-- Right bar minimized -->
			<div class="right-bar-hidden" id="right-bar-hidden" hidden>
				<div class="right-bar-show-button empty-triangle white-text" onclick="showRightBar()">◁</div>
			</div>

		</div>
		<div class="bokeh-container valign">
			<div>{{ script|safe }}</div>
		</div>
	</body>
</html>