<!--
Author(s): Tom Udding
Created: 2019-05-01
Edited: 2019-05-01
-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>graphion - visualisation</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
	<body>
		<!--Header-->
		<header class="navigation-wrapper">
			<div class=header>
				<div class="header-85-percent">
					<!--Left-side container with the logo-->
					<div class="logo-container">
						<img src="{{ url_for('static', filename='images/network.png') }}" alt="graphion logo" class="logo">
					</div>
					<div class="visualisation-information-wrapper">
						<span>You are currently viewing: {{ fileName }}</span>
					</div>
				</div>
			</div>
		</header>
	</body>
</html>