[Unit]
Description=Gunicorn instance to serve graphion Flask server
After=network.target

[Service]
User=webserver
Group=www-data
WorkingDirectory=/home/webserver/2IOA0/graphion
Environment="PATH=/home/webserver/anaconda3/envs/2ioa0/bin"
ExecStart=/home/webserver/anaconda3/envs/2ioa0/bin/gunicorn --bind unix:2IOA0.sock -m 007 graphion:server

[Install]
WantedBy=multi-user.target